.markdown {
    color: #000b;
}

.markdown blockquote {
    padding: 0 1em;
    border-left: 0.25em solid #64b5f6;
}

.markdown p {
    font-size: 18px;
}

.markdown ul li {
    font-size: 20px;
}

.markdown img {
    max-width: 100%;
}

.markdown code {
    font-size: 1.5em;
}