.markdown {
    color: #000b;
}

.markdown blockquote {
    padding: 0 1em;
    border-left: 0.25em solid #64b5f6;
}

.markdown p {
    font-size: 18px;
}

.markdown ul li {
    font-size: 20px;
}

.markdown img {
    max-width: 90%;
    margin: 4vh 0 4vh 4.5vw;
}

.markdown code {
    font-size: 1.5em;
    color: white;
    text-overflow: ellipsis;
}

.markdown pre {
    overflow: hidden;
    background-color: #000a;
    margin: 2vh 4vw;
    padding: 16px;
}